sqlalchemy[asyncio]
fastapi
pytest
dependency-injector
uvicorn[standard]
fastapi
alembic
psycopg2-binary
httpx[http2]
httpx[socks]
pytest-asyncio
requests
beautifulsoup4
python-multipart
python-jose[cryptography]
passlib[bcrypt]
mangum
boto3
smart-open