<div class="bg-gray-700 min-h-full">
  <nav class="
    relative
    w-full
    flex flex-wrap
    items-center
    justify-between
    py-4
    bg-gray-100
    text-gray-500
    hover:text-gray-700
    focus:text-gray-700
    shadow-lg
    navbar navbar-expand-lg navbar-light
    ">
    <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
      <button class="
        navbar-toggler
        text-gray-500
        border-0
        hover:shadow-none hover:no-underline
        py-2
        px-2.5
        bg-transparent
        focus:outline-none focus:ring-0 focus:shadow-none focus:no-underline
      " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="w-6" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path fill="currentColor"
            d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
          </path>
        </svg>
      </button>
      <div class="collapse navbar-collapse flex-grow items-center" id="navbarSupportedContent">
        <a class="
          flex
          items-center
          text-gray-900
          hover:text-gray-900
          focus:text-gray-900
          mt-2
          lg:mt-0
          mr-1
        " href="#">
          <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" style="height: 15px" alt=""
            loading="lazy" />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav flex flex-col pl-0 list-style-none mr-auto">
          <li class="nav-item p-2">
            <a class="nav-bar-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-bar-link" routerLink="/history">History</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-bar-link" routerLink="/favorite">Favorite</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="flex items-center relative">
        <div class="dropdown relative" [hidden]="isLoggedIn$ | async" data-bs-toggle="modal"
          data-bs-target="#exampleModal">
          <app-login-button></app-login-button>
        </div>
        <div class="dropdown relative" [hidden]="!(isLoggedIn$ | async)">
          <a class="dropdown-toggle flex items-center hidden-arrow" href="#" id="dropdownMenuButton2" role="button"
            data-bs-toggle="dropdown" aria-expanded="false" (click)="onIconClicked()">
            <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-full"
              style="height: 25px; width: 25px" alt="" loading="lazy" />
          </a>
          <ul class="dropdown-menu" [hidden]="!dropdownShown" aria-labelledby="dropdownMenuButton2">
            <li>
              <a class="dropdown-item" (click)="onLogoutClicked()" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Right elements -->
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog relative w-auto pointer-events-none max-w-none h-auto mx-auto mt-40"
    [hidden]="isLoggedIn$ | async">
    <div
      class="modal-content border-none shadow-lg relative flex flex-col md:w-full lg:w-1/2 min-w-fit pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current m-auto">
      <app-login-form></app-login-form>

    </div>
  </div>
</div>
